<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- raw asp net http handler -->
    <!--<add key="serverBaseUrl" value="http://localhost:57433/"/>-->

    <!-- Asp net core version -->
    <!--<add key="serverBaseUrl" value="http://localhost:56848/"/>-->
    <add key="serverBaseUrl" value="http://localhost:64849/"/>
    <add key="reactiveServerBaseUrl" value="ws://localhost:64849/"/>

  </appSettings>
  
</configuration>